In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("market_basket_Analysis.csv",sep = ";")

/home/akash/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
display(data.head())
display(data.info())

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      522064 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    522064 non-null  int64
 3   Date        522064 non-null  object
 4   Price       522064 non-null  object
 5   CustomerID  388023 non-null  float64
 6   Country     522064 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 27.9+ MB

None

In [9]:
print("Unique Transaction are",data.BillNo.nunique())
print("Unique Products are",data.Itemname.nunique())

Unique Transaction are 21665
Unique Products are 4185

In [15]:
transaction = data[["BillNo","Itemname"]]

In [ ]:
from tqdm.notebook import tqdm
items_transaction = []
for x in tqdm(transaction.BillNo.values):
    products  = data[data["BillNo"] == x]["Itemname"].values
    items_transaction.append(products)

  0%|          | 0/522064 [00:00<?, ?it/s]

In [12]:

from apyori import apriori
 
transactions = [
    ['beer', 'nuts'],
    ['beer', 'cheese',"KOL"],
]
results = list(apriori(transactions))

In [13]:
results

[RelationRecord(items=frozenset({'KOL'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'KOL'}), confidence=0.5, lift=1.0)]),
 RelationRecord(items=frozenset({'beer'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'cheese'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'cheese'}), confidence=0.5, lift=1.0)]),
 RelationRecord(items=frozenset({'nuts'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nuts'}), confidence=0.5, lift=1.0)]),
 RelationRecord(items=frozenset({'KOL', 'beer'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'KOL', 'beer'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'KOL'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'beer'}), items_add=frozenset({'KOL'}), confidence=0.5, lift=1.0)]),
 RelationRecord(items=frozenset({'KOL', 'cheese'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'KOL', 'cheese'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'KOL'}), items_add=frozenset({'cheese'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cheese'}), items_add=frozenset({'KOL'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cheese', 'beer'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'cheese', 'beer'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'beer'}), items_add=frozenset({'cheese'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'cheese'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'nuts', 'beer'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nuts', 'beer'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'beer'}), items_add=frozenset({'nuts'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'nuts'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'KOL', 'cheese', 'beer'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'KOL', 'cheese', 'beer'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'KOL'}), items_add=frozenset({'cheese', 'beer'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'beer'}), items_add=frozenset({'KOL', 'cheese'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'cheese'}), items_add=frozenset({'KOL', 'beer'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'KOL', 'beer'}), items_add=frozenset({'cheese'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'KOL', 'cheese'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'cheese', 'beer'}), items_add=frozenset({'KOL'}), confidence=1.0, lift=2.0)])]